html *{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #CC8B8C;
    opacity: 90%;
    color: white;
    position:fixed;
    top: 0;
    width: 100%;
    height:100px;
}

#logo {
    position:fixed;
    float:left;
}

a{
    margin: 4px;
    padding: 8px;
}

a:hover {
    background-color:lightgray;
    padding: 10px;
    margin: 25px 20px 30px 30px;
}

nav a {
    color: #304D6D;
    margin: 25px;
    float: right;
    position:sticky;
    font-weight: 30px;
}
figcaption {
    font-size: small;
}

main {
    margin-top:100px;
    background-color: white;
    padding-bottom: 50px;
    padding-top: 50px;
}

.recipe-container {
    display: grid;
    grid-template-columns: 400px 500px;
    grid-template-rows: 50px 400px;
    gap: 0px 20px;
    grid-template-areas:
        "recipe-name blank"
        "recipe-image recipe";
}

.recipe-image {
    grid-area: recipe-image;
}

.recipe {
    grid-area: recipe;
}

.blank {
    grid-area: blank;
}

.recipe-name {
    grid-area: recipe-name;
color: gray;
font-weight: lighter;
padding-top: 10px;
}


figcaption{
    text-align: center;
}

h1 {
    float:left;
    position: fixed;
    left: 125px;
    top: 25px;
    font-weight: 200px;
    font-size: 36px;
}


form {
    text-align: center;
    height:200px;
    background-color: lightgray;
    padding-left: 10px;
}

button {
    background-color: gray;
    color: white; 
    border: none;
    padding: 5px;
    width: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    background: #CC8B8C;
    width:100%;
    height:100px;
    text-align: center;
    bottom: 0px;
    position:absolute;
    opacity: 50%;
}

input{
    padding:5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;

}

h3{
    font-size: 16px;
    font-weight: lighter;
    padding-top: 25px;
    color: white;
}